@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body{
  background: #304352 !important;  
  background: -webkit-linear-gradient(to right, #d7d2cc, #304352); 
  background: linear-gradient(to right, #d7d2cc, #304352) !important;
  font-family: 'Poppins', sans-serif !important;
 
}

/* #home{
 
} */

img{
  height: 500px;
  width: 500px;
  border-radius: 10px;
}
.cats{
  padding-left: 3rem;
  display: flex;
  flex-wrap: wrap;
  
  
}
.one{
  background-color: transparent;
  height: 50px;
  width: 100px;
  text-align: center;
  margin:2rem 0.5rem;
  border: 2px solid #304352;
  
  
}

.one a{
  text-decoration: none;
  color: white;
  
}
.topics a{
  text-decoration: none;
  font-size: 2rem;
  color: white
}
h1 {
  font-size: 5rem !important;
  line-height: 7rem !important;
  width: 80% !important;
  font-weight: 900 !important;
  padding: 2rem 0;
} 
p{
  padding: 2rem 0;
  font-size: 2rem !important;
  font-weight: 500 !important;
}
.btn-write{
  padding: 2rem 4rem !important;
  color: #d7d2cc;
  background-color: #304352;
}
h3{
  text-decoration: underline;

}

.about a{
  margin: 0 2rem;
  color: #fff;
  font-size:1.5rem ;
}